-r requirements.txt
boolean.py==5.0
CacheControl==0.14.4
charset-normalizer==3.5.1
coverage==7.16.0
cyclonedx-python-lib==11.12.0
defusedxml==0.7.1
filelock==3.32.6
iniconfig==2.3.0
license-expression==30.4.4
markdown-it-py==4.2.0
mdurl==0.1.2
msgpack==1.2.2
packageurl-python==0.17.6
pip-requirements-parser==32.0.1
pip_api==0.0.35
pip_audit==2.10.1
platformdirs==4.11.8
pluggy==1.6.0
py-serializable==2.1.0
Pygments==2.21.0
pyparsing==3.3.2
pytest==9.1.1
pytest-cov==7.1.0
requests==2.34.2
rich==15.0.0
sortedcontainers==2.4.0
tomli==2.4.1
tomli_w==1.2.0
urllib3==2.7.0
attrs==26.1.0
jsonschema==4.26.0
jsonschema-path==0.5.0
jsonschema-specifications==2025.9.1
lazy-object-proxy==1.12.0
openapi-schema-validator==0.9.0
openapi-spec-validator==0.9.0
pathable==0.6.0
pydantic-settings==2.15.0
PyYAML==6.0.3
referencing==0.37.0
rfc3339-validator==0.1.4
rpds-py==2026.6.3
six==1.17.0
